{
  "extends": "@remotion",
  "ignorePatterns": [
    "**fit-parser.ts"
  ],
  "rules": {
    "react/jsx-curly-brace-presence": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "capitalized-comments": "off"
  }
}
